/*====================================================================================================================*/
/* GENERAL BODY STYLING */
/*====================================================================================================================*/

body {
    font-family: 'Raleway', sans-serif;
    padding-top:50px;
}

/*TODO _ NEED MDEIA QUERY TO ADJUST BODY PADDING TOP*/
/*TODO _ NEED MDEIA QUERY TO ADJUST BODY SECTIONS PADDING SIDES*/
/*TODO_ BUTTON BACKGROUND AND POSITIONING*/

/* SITE PRIMARY COLOR */
.aa_blue {
    color:#0078d2;
}

/* CREATE SPACE BETWEEN SECTIONS */
#footer_section {
    margin-top:90px;
}


#news_offers {
    margin-top:90px;
    margin-bottom: 45px;
}

#todays_specials {
    margin-top:45px;
}

/*!*SITE LINK TEXT COLOR*!*/
a {
    color: #0078d2;
    font-weight:bolder;

}

/*!* UNDERLINE WHEN HOVER OVER LINK TEXT AND MAKE IT BLACK *!*/
a:hover {
    color: black;
    text-decoration: underline;
}

/*====================================================================================================================*/
/* DIV POSITIONING ON PAGE */
/*====================================================================================================================*/

/* CAROUSEL */
#poistion1 {
    width: 100%;
    height: 100%;
    position: relative;
}

/*handle laptop*/
@media only screen and (min-width: 768px)  {

    #position2 {
        width:80%;
        top:65%;
        left:10%;
        position: absolute;

    }

    html {
        font-size: 12px;
    }
}

/*handle desktop*/
@media only screen and (min-width: 1900px) {

    #position2{
        width: 60%;
        position: absolute;
        top:47%;
        left: 20%;

    }
}

/* GIVE POSITION TWO A SHADOW SO IT APPEARS TO FLOAT ABOVE POSITION 1 */
#position2 {
    z-index: 10;
}



/*====================================================================================================================*/
/*NAVBAR*/
/*====================================================================================================================*/

/* SEARCH ICON COLOR */
nav .input-field label i {
    color:#0078d2;
}

/* NAVBAR LINK TEXT SIZE */
nav ul a {
    color: #0078d2;
    font-weight:bolder;
    font-size: large;
}

/* SIDE NAV LINK COLOR */
.side-nav a {
    color:#0078d2;
}

/* NAVBAR LINKS CASE SETTING */
.remove_assigned_case {
    text-transform: none;

}


nav .brand-logo {
    font-weight:bolder;
    /*font-size: 25px;*/
}

/*====================================================================================================================*/
/* CAROUSEL */
/*====================================================================================================================*/

/*CAROUSEL TEXT STYLE*/
.carousel_text_style {
    font-weight:400;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/*HIDE CAROUSEL CONTROLS*/
.slider .indicators .indicator-item, .slider .indicators .indicator-item.active {
    background-color: #eceff1;
}

/*====================================================================================================================*/
/* LEFT FORM */
/*====================================================================================================================*/

/*LEFT FORM  */
.aa_blue_gradient {

    /* UPRIGHT */
    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+98,207cca+100,7db9e8+100 *!*/
    /*background: rgb(30,87,153); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 98%, rgba(32,124,202,1) 100%, rgba(125,185,232,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 98%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 98%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); !* IE6-9 *!*/

    /* REVERSE */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,207cca+0,2989d8+2,1e5799+100 */
    background: rgb(125,185,232); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,185,232,1) 0%, rgba(32,124,202,1) 0%, rgba(41,137,216,1) 2%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 0%,rgba(41,137,216,1) 2%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 0%,rgba(41,137,216,1) 2%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

/*FORM PADDING*/
form {
    padding:10px;
    padding-bottom: 30px;
}


.blue-grey.lighten-5 {
    margin-top: 10px;
}

/*CHECK BOX  BORDER COLOR*/
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    border-color: black;
}

/*CHECK BOX TEXT SIZE*/
.input-field.col label {
    font-size: 11px;
}

/* IMP PADDING ADJUST THE CLOSES OF ALL ROWS */
.container .row {
    margin-bottom: 0;
}

/*====================================================================================================================*/
/* RIGHT FORM */
/*====================================================================================================================*/

/*HEADER TABS BACKGROUND COLOR*/
.grey_gradient {
    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#596a72+0,cedce7+100 *!*/
    /*background: rgb(89,106,114); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  rgba(89,106,114,1) 0%, rgba(206,220,231,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  rgba(89,106,114,1) 0%,rgba(206,220,231,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  rgba(89,106,114,1) 0%,rgba(206,220,231,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596a72', endColorstr='#cedce7',GradientType=0 ); !* IE6-9 *!*/



    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100 *!*/
    /*background: rgb(206,220,231); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); !* IE6-9 *!*/



    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100 *!*/
    /*background: rgb(238,238,238); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); !* IE6-9 *!*/


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+82 */
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 82%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 82%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */


    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,7d7e7d+100 *!*/
    /*background: rgb(14,14,14); !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  rgba(14,14,14,1) 0%, rgba(125,126,125,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  rgba(14,14,14,1) 0%,rgba(125,126,125,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); !* IE6-9 *!*/


}

/*TODO _ THIS COLOR SHOULD MATCH UP TO THE LEFT FORM*/
/* TAB LINKS COLOR ON HOVER */
.tab:hover {
    background-color: #0078d2;
}

/* HEADER LINKS TEXT COLOR */
.tabs .tab a {
    color: #0078d2;
}

/* HEADER LINKS TEXT COLOR ON HOVER */
.tabs .tab a:hover, .tabs .tab a.active {
    color: white;
}

/* RIGHT FORM ICONS */
.input-field .pref {

}

/* INPUT BOX BORDER */
.input-field .prefix ~ input {
    border:solid 1px;

}

/* INPUT PLACEHOLDER PADDING */
.input-field.col .prefix ~ label, .input-field.col .prefix ~ .validate ~ label {
    padding-left:10px;

}

/* LOGIN PLACEHOLDER PADDING */
.input-field .prefix ~ input {
    padding-left:10px;
}

/*DROPDOWN BORDER*/
.select-wrapper input.select-dropdown {
    border:solid 1px;
    padding-left:10px;
}

/*==================================*/

/*TABS STYLING WHEN ACTIVE */
/* TAB BEFORE CLICK */
#menu li {
    /*background: black;*/
}


/* TAB AFTER CLICK */
#menu ul li.selected {
    background-color: #0078d2;
    color:#FFFFFF;
}


/* TAB ON HOVER */
#menu a:hover {
    background-color: #0078d2;
    color:#FFFFFF;
}


/* TAB ON CLICK */
#menu a:active {
    background-color: #eceff1;
    color:white;
}

/*TODO _ THIS COLOR SHOULD MATCH UP TO THE TOP TAB COLOR*/
/* TAB LINKS UNDERLINE COLOR */
.tabs .indicator {
    background-color: #cccccc;

}
/*==================================*/

/*====================================================================================================================*/
/* ICONS */
/*====================================================================================================================*/

/*FORM ICONS GENERAL SIZE*/
.input-field .prefix {
    font-size:23px;
}

/*SMALL OPEN LINK FONT SIZE*/
.small_open_icon {
    font-size: 15px;
}

.small_local_offer_icon {
    font-size: 15px;
}

/* BOTTOM FOOTER ICONS */
.footer_icon {
    font-size:30px;
    margin-left: 5px;
    margin-right: 5px;
    color:#0078d2;
}
/*====================================================================================================================*/
/* PAGE FOOTER */
/*====================================================================================================================*/
/* BACKGROUND COLOR AND FONT SIZE */
footer.page-footer, footer.page-footer .footer-copyright {
    /*background-color: #1e589a;*/
    background-color: #d0dae0;
    font-size: 12px;
}


/* BOTOM FOOTER TEXT COLOR */
.footer-copyright .container {
    color: #1e589a;
}


/*====================================================================================================================*/
/* BUTTONS - THOSE WITH DIFF SIZING HAVE BEEN ASSIGNED AN ID */
/*====================================================================================================================*/
/* BUTTON WIDTH */
.btn {
    background-color: #0078d2;
    width:180px;
    height:45px;
    padding-top: 5px;

}

/* BUTTON HOVER */
.btn:hover, .btn-large:hover, #login_button:hover {
    background-color: #003a6d;
    color: white;
}

/* LOGIN BUTTON */
#login_button {
    width:140px;
    color: white;
}

/*====================================================================================================================*/
/* DATE PICKER STYLING */
/*====================================================================================================================*/

/*PICKER BODY BACKGROUND COLOR*/
.picker__date-display {
    background: -webkit-linear-gradient(top,  rgba(125,185,232,1) 0%,rgba(32,124,202,1) 0%,rgba(41,137,216,1) 2%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
}

/*PICKER HEAD BACKGROUNG COLOR*/
.picker__weekday-display {
    background-color: #eceff1;
    color: black;
}

/*Picker Today and Close botton color*/
.picker__close, .picker__today {
    color: #0078d2;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #0078d2;
}

/*Picker actual date color*/
.picker__day.picker__day--today {
    color: #0078d2;
}

/*Picker date month change arrow*/
.picker__nav--prev:hover, .picker__nav--next:hover {
    background-color: #eceff1;
}

/*====================================================================================================================*/
/* QUICK FIX HACKS */
/*====================================================================================================================*/
/*TODO-handle this!!!*/
/*TODAYS SPECIALS WAS PUSHING OUT*/
#quickmargin {
    margin-left: 10px;
}



.slider .indicators .indicator-item, .slider .indicators .indicator-item.active {
    background-color:#0078d2;;
}








